.posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin: 32px;
}

.post {
  container-type: inline-size;
}

.post__content {
  display: grid;
  grid-template: 'a' 'b' 'c' / 1fr;
  gap: 24px;
  padding: 24px;
  background-color: rgba(0 0 0 / 10%);
  border-radius: 16px;
}

.post__img {
  display: flex;
  grid-area: a;
  justify-self: center;
  align-self: center;
  width: 64px;
  height: 64px;
  border-radius: 4px;
}

.post__title {
  grid-area: b;
  width: 75%;
  height: 24px;
  background-color: rgba(0 0 0 / 25%);
  border-radius: 4px;
}

.post__description {
  display: flex;
  flex-direction: column;
  grid-area: c;
  gap: 8px;
}

.post__text {
  height: 16px;
  background-color: rgba(0 0 0 / 15%);
  border-radius: 4px;
}

.post__text:last-of-type {
  width: 75%;
}

@media (min-width: 768px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@container (min-width: 400px) {
  .post__content {
    grid-template: 'a b' 'a c' / minmax(0%, auto) 1fr;
  }
}
